*{
    box-sizing:border-box;
}
body{
    margin:0; padding:0;
}
#headering{
    display:flex;
    height:auto;
    background-color: black;
    margin :0;
    height: 100px;
}
h1{
    padding:0; margin: 0;
}
h1 img{
    height:40px; padding : 0px 0; margin-left:30px; margin:7%; 

}
/* 상단 English 부분
 #headering .nav1{
    position: absolute; top:10px; right: 20px;color:white; float :inherit;
} */
#headeringwrap { position:fixed; top:auto; left:auto; width:100%; text-align:center; z-index:1000; }
#headeringwrap #headering {position:relative; max-width:100%; height:100%; margin:0 auto; text-align:left; }

#gnb { 
    position:absolute; top:20%;width: 800px; width:100%; background-color: rgba(0,0,0,0.8);
 }
#gnb .gw { overflow:hidden;  padding:0; z-index:10; }
#gnb .gw li { float:left; width:15%; list-style:none; }
#gnb .gw li a { 
    display:block; 
    list-style:none;
    width:100%; 
    height:60px; 
    line-height:80px; 
    text-align:center; 
    font-weight:800; 
    font-size:18px; 
    color: white; letter-spacing:-0.5pt; 
 }
 #gnb .gw .headericon{
     padding-top:27px;
     padding-left:15px;
     width:2.5%;
 }
#gnb .gw li a:hover,#gnb li a.on { color:#fbff0b; }


#gnb #gnb_sub { 
    display:none;
    position:absolute;
    top:100%; 
    right:0; 
    width:800px; 
    width:100%; 
    opacity: 0.9;
    height:160px; z-index:9999; background:#fff; border-top:1px solid black;}
#gnb #gnb_sub ul { 
    float: left; 
    overflow:hidden;
  
    
    height:150px; border-right:1px solid #ddd; padding:0px 10px 0 40px; margin:0;}
/* 상단 헤더드랍다운 메뉴 너비 조정*/
#gnb #gnb_sub .logo-width{
width:18%;
list-style: none;
}
#gnb #gnb_sub .home-width{
    width:13%;
}
#gnb #gnb_sub .solution-width{
    width:18%;
}
#gnb #gnb_sub .support-width{
    width:15%;
}
#gnb #gnb_sub .important-width{
    width:15%;
}
#gnb #gnb_sub .notice-width{
    width:10%;
}
#gnb #gnb_sub ul:first-child { border-left:1px solid #ddd; }
#gnb #gnb_sub a {
    display:inline-block; 
    width:100%; 
    padding:5px 0; 
    color:#555; 
    letter-spacing:-0.5pt; 
    font-weight:700; 
    font-size:12px; 
    line-height:12px; 
    font-family:'notokr'; 
    text-decoration:none;
}
#gnb #gnb_sub a:hover { color:#3d449c; }

#headering label, #toggle{display:none;}

@media (max-width:600px){
    #gnb {
        display:none;
    }
    #gnb_sub li{
        display:block;
        width:100%;
        text-align:center;
    }
}
#one {content:""; display:block; width:110px; height:110px; border-radius:50%; -webkit-border-radius:50%;}

